.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.homepage {
    width: 100%;
    height: 100vh;
    background-image: url(../assests/france.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav {
    width: 100%;
    height: 65px;
    background-color: #20A7B9;
    display: flex;
    align-items: center;
    padding-left: 175px;
    justify-content: space-between;
    
}

.logo img {
    width: 120px; 
    height: auto; 
}

.nav .menu{
    display: flex;
    gap: 70px;
    padding-right: 100px;
    text-decoration: none;
    
}

.menu .menulist{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    transition: 0.3s;
}

.menulist:hover{
    color: rgb(195, 216, 235);
}


/* middle part */

.col1{
    font-family: "Lato", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    gap: 10px;
}

.col1 h3{
    font-family: "Poppins", sans-serif;
    word-spacing: 3px;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}

.col1 h1{
    font-family: "Poppins", sans-serif;
    font-size: 70px; 
    font-weight: 800;
    color: #ffffff;
    text-transform: capitalize;
}

.col1 button{
    background-color: transparent;
    color: #20A7B9;
    border-style: solid;
    border-width: 1px;
    border-color: #20A7B9;
    border-radius: 100px;
    height: 40px;
    width: 120px;
    font-weight: bold;
    cursor: pointer;
}